### Environment Checks

In [41]:
! conda info --envs

# conda environments:
#
base                     /Applications/anaconda3
cloudenv                 /Applications/anaconda3/envs/cloudenv
normenv               *  /Applications/anaconda3/envs/normenv
redashenv                /Applications/anaconda3/envs/redashenv
text                     /Applications/anaconda3/envs/text

In [42]:
! tree -L 1 /Applications/anaconda3/envs/normenv/lib/python3.7/site-packages/flat*

/Applications/anaconda3/envs/normenv/lib/python3.7/site-packages/flat_table
├── __init__.py
├── __pycache__
└── _norm.py
/Applications/anaconda3/envs/normenv/lib/python3.7/site-packages/flat_table-1.0.0.dist-info
├── INSTALLER
├── METADATA
├── RECORD
├── WHEEL
└── top_level.txt

1 directory, 7 files

### Imports

In [44]:
import yaml
import pandas as pd
import flat_table

In [45]:
pd.__file__

'/Applications/anaconda3/envs/normenv/lib/python3.7/site-packages/pandas/__init__.py'

In [46]:
flat_table.__file__

'/Applications/anaconda3/envs/normenv/lib/python3.7/site-packages/flat_table/__init__.py'

### Example

In [51]:
source = yaml.load(open('../data/executive.yaml').read(), Loader=yaml.Loader)
df = pd.DataFrame(source)
df.shape

(76, 4)

In [52]:
df.head()

,id,name,bio,terms
0,"{'bioguide': 'W000178', 'govtrack': 411351, 'i...","{'first': 'George', 'last': 'Washington'}","{'birthday': '1732-02-22', 'gender': 'M'}","[{'type': 'prez', 'start': '1789-04-30', 'end'..."
1,"{'bioguide': 'A000039', 'govtrack': 400699, 'i...","{'first': 'John', 'last': 'Adams'}","{'birthday': '1735-10-19', 'gender': 'M'}","[{'type': 'viceprez', 'start': '1789-04-21', '..."
2,"{'bioguide': 'J000069', 'govtrack': 405974, 'i...","{'first': 'Thomas', 'last': 'Jefferson'}","{'birthday': '1743-04-13', 'gender': 'M'}","[{'type': 'viceprez', 'start': '1797-03-04', '..."
3,"{'bioguide': 'B001133', 'govtrack': 402077, 'i...","{'first': 'Aaron', 'last': 'Burr', 'suffix': '...","{'birthday': '1756-02-06', 'gender': 'M'}","[{'type': 'viceprez', 'start': '1801-03-04', '..."
4,"{'bioguide': 'C000527', 'govtrack': 412587}","{'first': 'George', 'last': 'Clinton'}","{'birthday': '1739-07-26', 'gender': 'M'}","[{'type': 'viceprez', 'start': '1805-03-04', '..."

#### From Normalize

In [54]:
df_flatten = flat_table.normalize(df)
df_flatten.shape

(125, 23)

#### From Mapper

In [50]:
mapper = flat_table.mapper(df)
flat_table.normalize(mapper, is_mapper=True).shape

(125, 23)

#### Final Table

In [56]:
df_flatten.columns

Index(['index', 'fec', 'votesmart', 'opensecrets', 'lis', 'thomas', 'icpsr',
       'icpsr_prez', 'govtrack', 'bioguide', 'nickname', 'middle', 'suffix',
       'last', 'first', 'religion', 'gender', 'birthday', 'how', 'party',
       'end', 'start', 'type'],
      dtype='object')