## Normalization on Yaml Files

Following is an implementation of normalization on `.yaml` files.

### Imports

In [1]:
import os
import sys

In [2]:
currentdir = os.path.dirname(os.path.realpath('__file__'))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0, parentdir)
currentdir, parentdir

('/Users/owl/Projects/normalization/notebooks',
 '/Users/owl/Projects/normalization')

In [3]:
import yaml
#import norm
from norm import *
import norm

### Data

In [4]:
source = yaml.load(open('../data/legislators-historical.yaml').read())
source2 = yaml.load(open('../data/executive.yaml').read())

In [8]:
df = pd.DataFrame(source)

# test columns
df['dict_with_one_key'] = [{'dict_c': 1}] * len(df)
df['list_obj'] = [['obj'] * 2] * len(df)
df['list_dict'] = [[{'list_dict_ca':10, 'list_dict_cb': 'hello'}] * 2] * len(df)
df['list_dict_list'] = [[{'list_dict_ca':[1, 2] * 1, 'list_dict_cb': 'hello'}] * 2] * len(df)
df['list_list'] = [[[10]] * 2] * len(df)
df['list_list_list_dict'] = [[[[{'3_list_dict_c':10}],]] * 3] * len(df)

### Analysis

A seri can be transformed into:

    1. Expanded into rows
    2. Expendad to columns
    3. Kept as is
   
    * Each individual seri has parent df name, self name, and self.
    * if parent and self has the same name ==> it is an object
    * if parent and

#### Source 1

In [9]:
df_in = norm.mapper(df[~df.family.isna()])

In [10]:
df_in[(df_in.type != 'dict') & (df_in.type != 'list')]

,parent,child,type,obj
1,bio,religion,float,11737 NaN 11739 Na...
2,bio,gender,str,11737 M 11739 F 11743 M 11744 M 11...
3,bio,birthday,str,11737 1962-03-30 11739 1953-05-26 11743 ...
6,family,relation,str,11737 son 11739 niec...
7,family,name,str,11737 Nicholas J. Begich 11739 ...
9,id,wikipedia,str,11737 Mark Begich 11739 Ka...
10,id,washington_post,str,11737 gIQAlYCM9O 11739 gIQA2GXW9O 11743 ...
11,id,votesmart,int,11737 79426 11739 21082 11743 53307 1...
12,id,thomas,str,11737 01898 11739 01902 11743 01384 1...
13,id,opensecrets,str,11737 N00029901 11739 N00029617 11743 ...
14,id,maplight,int,11737 808 11739 806 11743 587 11744 ...
15,id,lis,str,11737 S319 11739 S320 11743 S131 1174...
16,id,icpsr,int,11737 40900 11739 40907 11743 14709 1...
17,id,house_history,float,11737 NaN 11739 15594.0 11743 ...
18,id,govtrack,int,11737 412326 11739 412324 11743 30006...
20,fec,fec,str,11737 S8AK00090 11739 S8NC00239 11743 ...
21,id,cspan,int,11737 1030732 11739 1028015 11743 ...
22,id,bioguide,str,11737 B001265 11739 H001049 11743 L00...
23,id,ballotpedia,str,11737 Mark Begich 11739 Kay Ha...
24,.,leadership_roles,float,11737 NaN 11739 NaN 11743 NaN 11744 ...
26,name,suffix,float,11737 NaN 11739 NaN 11743 NaN 11744 ...
27,name,official_full,str,11737 Mark Begich 11739 ...
28,name,nickname,float,11737 NaN 11739 NaN 11743 NaN 11744 ...
29,name,middle,float,11737 NaN 11739 NaN 11743 NaN 11744 ...
30,name,last,str,11737 Begich 11739 Hagan 1174...
31,name,first,str,11737 Mark 11739 Kay 11743 Carl 1174...
32,.,other_names,float,11737 NaN 11739 NaN 11743 NaN 11744 ...
35,terms,url,str,11737 http://www.begich.sen...
36,terms,type,str,11737 sen 11739 sen 11743 sen 11743 ...
37,terms,state_rank,str,11737 junior 11739 junior 11743 Na...
38,terms,state,str,11737 AK 11739 NC 11743 MI 11743 M...
39,terms,start,str,11737 2009-01-06 11739 2009-01-06 11743 ...
40,terms,rss_url,str,11737 http://www.begich.senate.gov/public...
41,terms,phone,str,11737 202-224-3004 11739 202-224-6342 11...
42,terms,party,str,11737 Democrat 11739 Democrat 11743 D...
43,terms,office,str,11737 111 Russell Senate Office Building ...
44,terms,fax,str,11737 202-224-2354 11739 202-228-2563 11...
45,terms,end,str,11737 2015-01-03 11739 2015-01-03 11743 ...
46,terms,district,float,11737 NaN 11739 NaN 11743 NaN 1174...
47,terms,contact_form,str,11737 http://www.begich.senate.gov/public/i...
48,terms,class,float,11737 2.0 11739 2.0 11743 2.0 11743 ...
49,terms,address,str,11737 111 Russell Senate Office Building Wa...
51,dict_with_one_key,dict_c,int,11737 1 11739 1 11743 1 11744 1 11...
53,list_obj,list_obj,str,11737 obj 11737 obj 11739 obj 11739 ...
56,list_dict,list_dict_cb,str,11737 hello 11737 hello 11739 hello 1...
57,list_dict,list_dict_ca,int,11737 10 11737 10 11739 10 11739 1...
60,list_dict_list,list_dict_cb,str,11737 hello 11737 hello 11739 hello 1...
62,list_dict_ca,list_dict_ca,int,11737 1 11737 2 11737 1 11737 2 11...
64,list_list,list_list,int,11737 10 11737 10 11739 10 11739 1...
67,list_list_list_dict,3_list_dict_c,int,11737 10 11737 10 11737 10 11739 1...

#### Source 2

In [6]:
df2 = pd.DataFrame(source2)
df2_in = norm.mapper(df2)
df2_in[(df2_in.type != 'dict') & (df2_in.type != 'list')]

,parent,child,type,obj
1,bio,religion,float,0 NaN 1 NaN 2 ...
2,bio,gender,str,0 M 1 M 2 M 3 M 4 ...
3,bio,birthday,str,0 1732-02-22 1 1735-10-19 2 1743-0...
5,id,votesmart,float,0 NaN 1 NaN 2 NaN 3 ...
6,id,thomas,float,0 NaN 1 NaN 2 NaN 3 Na...
7,id,opensecrets,float,0 NaN 1 NaN 2 Na...
8,id,lis,float,0 NaN 1 NaN 2 NaN 3 NaN 4 ...
9,id,icpsr_prez,float,0 99869.0 1 99870.0 2 99871.0 3 ...
10,id,icpsr,float,0 NaN 1 NaN 2 NaN 3 ...
11,id,govtrack,int,0 411351 1 400699 2 405974 3 4...
12,id,fec,float,0 NaN 1 NaN 2 ...
13,id,bioguide,str,0 W000178 1 A000039 2 J000069 3 ...
15,name,suffix,float,0 NaN 1 NaN 2 NaN 3 Jr. 4 ...
16,name,nickname,float,0 NaN 1 NaN 2 NaN 3 Na...
17,name,middle,float,0 NaN 1 NaN 2 ...
18,name,last,str,0 Washington 1 Adams 2 ...
19,name,first,str,0 George 1 John 2 Thomas 3...
22,terms,type,str,0 prez 0 prez 1 viceprez 1...
23,terms,start,str,0 1789-04-30 0 1793-03-04 1 1789-0...
24,terms,party,str,0 no party 0 ...
25,terms,how,str,0 election 0 election 1 e...
26,terms,end,str,0 1793-03-04 0 1797-03-04 1 1793-0...

In [ ]:
# todo: 
# final packing for list type childs  (concat)
pass

# final packing for all childs        (merge)
if inside != dict and inside != list:
    temp = norm.to_index(child)
    result.append((name, temp))

### Tests

In [ ]:
df_norm = reduce(lambda x,y: pd.merge(x, y), [d for n,d in result])
df_norm.shape

In [ ]:
df_test = get_column_obj(get_column_dict(get_obj(df[~df.family.isna()].list_list_list_dict)))
df_test.shape

In [ ]:
df_final = pd.merge(left=df_norm, right=df_test, on='index')
df_final.shape

In [ ]:
df_final.head()